*{
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
 }

#header h1{
	margin:0;
	padding:0;
	background-color: indianred;
	color:whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
 } 

 

 #container_principal{
	 
	width:100%;
	height: 500px;
 
 } 
 #footer {
	padding:10px 0px 10px 0px; 
	text-align:center;
	background-color: indianred;
	clear: both;
 }
 #col1,
 #col2,
 #col3{
	float:left;
	height: 100vh;
	text-align: center;
 }
 #col2,
 #col3{
	border-left:1px solid indianred;
	height: 100vh;
 }
 
 
 #col1,#col3{
	width:10%;
	font-size: large;
	align-items: center;
 }
 #col2{
	width:80%;
	font-size:x-large;
 }

.top-container {
	height: 50%;
	overflow: auto;
  }
  
.bottom-container {
	height: 50%;
	position: relative;
  }

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }

 .top-container2 {
	height: 40%;
	overflow: auto;
  }
  
.bottom-container2 {
	height: 60%;
	position: relative;
  }

  .social-media {
	text-align: center;
  }
  
  .social-media a {
	display: inline-block;
	
  }
  
  .social-media img {
	width: 40px;
	height: 40px;
  }
  
  
  
  
  
  
